# Solana RPC — use a dedicated RPC for production (Helius, QuickNode, etc.)
NEXT_PUBLIC_SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_API_KEY
NEXT_PUBLIC_SOLANA_NETWORK=mainnet-beta

# MPP Vault Program ID
NEXT_PUBLIC_VAULT_PROGRAM_ID=2WBK34gnJjYRN4J8fB97CTwRqPJYpx8XsdhDSb1fpPBx
